* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EFECE5;
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
}

.form-container {
    background: rgb(34, 127, 203);
    margin-top: 50px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-img img {
    width: 150%;
    height:500px;
    margin-top: 10px;
    margin-left: -5px;
}

.form-class {
    border: solid rgb(34, 127, 203) 2px;
    box-shadow: 2px 2px 2px grey;
    height: 560px;
    width: 500px;
    background: #EFECE5;
    padding: 15px;
    border-radius: 5px;
}

.form-class {
    text-align: center;
}

.form-class img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    border-radius: 5px;
    padding: 15px;
    width: 345px;
    height: 40px;
    margin: 12px;
    border: rgb(34, 127, 203) solid 2px;
    box-shadow: 2px 2px 2px grey;
}

#submit {
    background: rgb(34, 127, 203);
    color: white;
    width: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

.form-class a {
    text-decoration: none;
    color: rgb(34, 127, 203);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:915px) {
    .body {
        height: 50%;
    }

    .form-container {
        align: center;
        background: none;
        border: none;
        border-radius: none;
        box-shadow: none;
        width: 95%;
        height: 600px;
        margin-top: 15px;
        margin-bottom: 0px;
        margin-left: 15px;
        margin-right: 0px;

    }

    .form-img {
        display: none;
    }

    .form-class {
        border: none;
        background: none;
        border: none;
        border-radius: none;
        box-shadow: none;
        height: 100%;
    }

    .form-class {
        text-align: center;
        font-size: 10px;
    }

    .form-class img {
        width: 100px;
        height: 100px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    input {
        border-radius: 5px;
        padding: 15px;
        width: 90%;
        height: 40px;
        margin: 20px;
        border: rgb(34, 127, 203) solid 2px;
        box-shadow: 2px 2px 2px grey;
    }

    #submit {
        background: rgb(34, 127, 203);
        color: white;
        width: 40%;
        margin-top: 20px;
        margin-left: 30%;
        margin-right: 50%;
        padding: 10px;
    }

    .form-class a {
        text-decoration: none;
        color: rgb(34, 127, 203);
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
